%h1
  Releve Compteur : #{@releve_compteur.id}
= simple_form_for @releve_compteur, data: { confirm: "Etes vous sur de vouloir modifier la methode releve compteur ?" }, method: :patch do |f|
  %table.table.table-bordered
    %thead
      %tr
        %th Description
        %th Statut
        %th Modifier
        
    %tbody
      %tr
        
        %td
          = f.text_area :description_releve_compteurs, label: false,:cols => 40, :rows => 8 ,:input_html => { :size => 18, :maxlength => 20 , value: @releve_compteur.description_releve_compteurs}
       
        %td
          = @releve_compteur.valide_releve_compteurs

        - if current_user.is? :ADMIN 
          %td= f.button :submit, class: "btn btn-primary", value:'Modifier'
   
      
            
     
- if current_user.is? :ADMIN
  -if @releve_compteur.valide_releve_compteurs == false
    = simple_form_for @releve_compteur,url: valide_releve_compteur_path(@releve_compteur), data: { confirm: "Etes vous sur de vouloir valider le releve compteur ?" } do |f|
      = f.hidden_field :valide_releve_compteurs, :value => true
      = f.button :submit, class: "btn btn-primary btn-lg btn-block", value:"Valider le releve_compteur"
  = simple_form_for @releve_compteur ,url: delete_releve_compteur_path(@releve_compteur),data: { confirm: "Etes vous sur de vouloir supprimer la method releve compteur ?" }, method: :delete do |f|
    = f.hidden_field :id, :value => @releve_compteur.id
    = f.button :submit, class: "btn btn-primary btn-lg btn-block", value:"Supprimer le relevé compteur"



= link_to "retour en arriere", :back ,class:  "glyphicon glyphicon-arrow-left"
