%h1
  Incident : #{@incident.id}
%table.table.table-bordered
  %thead
    %tr
      %th Description
      %th Solution
      %th Statut

      %th Modifier
      
  %tbody
    %tr
      = simple_form_for @incident, data: { confirm: "Etes vous sur de vouloir modifier consommable ?" }, method: :patch do |f|
        %td= f.cktext_area :description_incidents, label: false ,:input_html => { :size => 18, :maxlength => 20 , value: @incident.description_incidents}
        %td
          = f.cktext_area :solution_incidents, label: false ,:input_html => { :size => 35, :maxlength => 50 , value: @incident.solution_incidents}
          / = f.hidden_field :printer_id, :value => @printer.id
        %td
          = @incident.valide_incidents

        - if current_user.is? :ADMIN 
          %td= f.button :submit, class: "btn btn-primary", value:'Modifier'
   
      
            
     
- if current_user.is? :ADMIN
  -if @incident.valide_incidents == false
    = simple_form_for @incident,data: { confirm: "Etes vous sur de vouloir valider l'incident ?" } do |f|
      = f.hidden_field :valide_incidents, :value => true
      = f.button :submit, class: "btn btn-primary btn-lg btn-block", value:"Valider l'incident"
  = simple_form_for @incident ,url: delete_incident_path(@incident),data: { confirm: "Etes vous sur de vouloir supprimer l'incident ?" }, method: :delete do |f|
    = f.hidden_field :id, :value => @incident.id
    = f.button :submit, class: "btn btn-primary btn-lg btn-block", value:"Supprimer l'incident"



= link_to "retour en arriere", :back ,class:  "glyphicon glyphicon-arrow-left"
