  <h1>Incident : <%= @incident.id %> </h1>

<table style="width: 700px; border: none; ">
	<thead><tr>
		<th>Description</th>
		<th>Solution</th>	
		<th>Printer ID</th>	
		<th>Statut</th>	
	</tr></thead>
	<tbody>
	<tr>
		<td><%= @incident.descriptionIncidents  %> </td>
		<td><%= @incident.solutionIncidents  %>	</td>	
		<td><%= @incident.printer_id  %>	</td>	
		<td><%= @incident.valideIncidents  %>	</td>	
	</tr>
	</tbody>
</table>
