<h1 align = "center">Ajouter Imprimante</h1>


          


<div class="CSSTableGenerator" >
  <%= simple_form_for @printer do |f| %>


<table >
    <tr>
         <td> Code Imprimante : </td>
         <td> Description Imprimante :</td>
         <TD> Valider    </TD>
    </tr>
    <tr>
                             <td class ="info">
      <div class="col-lg-9">
          <div class="input-group">
             
                 <%= f.input :codePrinters , :input_html => { :style => "width:250px" }, label: false %>
     
         </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

    </td> 

    <td>
     <div class="col-lg-9">
        <div class="input-group">
        <%= f.text_area :descriptionPrinters , :cols => 70, :rows => 4 %>
            
     
        </div><!-- /.col-lg-6 -->
     </div><!-- /.row -->
    </td>
   <td>

      <span class="input-group-btn">
          <%= f.button :submit, class: "btn btn-primary", value:'Valider' %>

          <%if flash[:alert]%>
              <div class="alert-danger" id="alert" role="alert">
                 <%= flash[:alert] %> <br>
              </div>
          <%end%>





          
            <div class="alert-success" id="notice" role="alert">
               <%= flash[:notice] %><br>
            </div>
            <%if flash[:notice]%>
          <%end%>
      </span>
    </td>
  </tr>
                    
</table>
<% end %>

</div>
            


   