%h1 Liste Imprimante
%p
  C'est la page d'acceuil pour tous les utilisateurs
/
/ Nav tabs
.dropdown
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#descriptImprimante", :role => "tab"} Description Imprimante
    %li
      %a{"data-toggle" => "tab", :href => "#incident", :role => "tab"} Incidents
    %li
      %a{"data-toggle" => "tab", :href => "#consommable", :role => "tab"} Consommables
    %li
      %a{"data-toggle" => "tab", :href => "#compteur", :role => "tab"} Compteurs
    %li.dropdown
      - if can? :create, Incident
        %a#myTabDrop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Ajouter
          %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "myTabDrop1", :role => "menu"}
        %li
          %a{"data-toggle" => "tab", :href => "#ajouterIncident", :role => "tab"} Incident
        %li
          %a{"data-toggle" => "tab", :href => "#ajouterConsommable", :role => "tab"} Consommable
  / Tab panes
  .tab-content
    / Onglet DESCRIPTION IMPRIMANTE
    #descriptImprimante.tab-pane.fade.in.active{"border-radius" => "10px"}
      %h2 Description de l'imprimante
      %p
        description ......................
      .form-group
        %label{:for => "exampleInputFile"} Choisir un fichier :
        %input#exampleInputFile{:type => "file"}/
    / Fin de l'onglet
    / Onglet INCIDENT
    #incident.tab-pane.fade
      %h2 Incidents de l'imprimante
      %p Tous les incidents des imprimantes.
      %h1 Tous les incidents
      %table{:align => "center", :style => "width: 500px;"}
        %thead
          %tr
            %th{:style => "vertical-align: center;"}
              CodeIncident
            %th{:align => "center"}
              Intitule
        %tbody
          - @incidents.each do |incident|
            %tr
              %td{:align => "center"}
                = link_to incident.codeIncident
              %td{:align => "center"}
                = link_to  incident.intitule_incidents
    / Fin de l'onglet
    / Onglet CONSOMMABLE
    #consommable.tab-pane.fade
      %h2 Consommable de l'imprimante
      %p Tous les consommables des imprimantes.
      %table{:align => "center", :style => "width: 500px;"}
        %thead
          %tr
            %th{:style => "vertical-align: center;"}
              CodeIncident
            %th{:align => "center"}
              Intitule
        %tbody
          - @consommables.each do |consommable|
            %tr
              %td{:align => "center"}
                = link_to  consommable.code_consommables
              %td{:align => "center"}
                - if consommable.designation_consommables.nil?
                  = link_to  "",consommable.designation_consommables
                - else
                  = link_to  consommable.designation_consommables
    / Fin de l'onglet
    / Onglet COMPTEUR
    #compteur.tab-pane.fade
      %h2 Manip Relevé Compteur ?
      %p Onglet destiné a indiqué la manipulation des relevé compteur ?
    / Fin de l'onglet
    / Onglet AJOUTERINCIDENT
    #ajouterIncident.tab-pane.fade
      %h2 AJOUTER INCIDENT
      = simple_form_for @incident do |f|
        .CSSTableGenerator
          %table
            %tr
              %td Code Incident :
              %td Intitulé Incident :
            %tr
              %td.info
                .col-md-9{:style => "width: 100%"}
                  .form-group
                    = f.input :codeIncident ,label: false,:input_html => { :size => 40, :maxlength => 10 }
                  / /.col-lg-6
                / /.row
              %td
                .col-md-9{:style => "width: 100%"}
                  .form-group
                    = f.input :intitule_incidents ,label: false, :input_html => { :size => 40, :maxlength => 10 }
                  / /.col-lg-6
                / /.row
          %table
            %tr
              %td Description :
              %td Solution :
            %tr
              %td
                = f.text_area :descripttionIncidents , :cols => 70, :rows => 4
              %td
                = f.text_area :solution_incidents , :cols => 70, :rows => 4
          %table
            %tr
            %tr
              %td
                .modal-footer{:align => "center"}
                  = f.button :submit, class: "btn btn-primary", :value => 'Valider'
      / ------------------------- Fin div css GENERATOR -------------------------
    / Fin de l'onglet AJOUTERINCIDENT
    / ---------------------- PAGE CONSOMMABLE     ----------------------
    #ajouterConsommable.tab-pane.fade
      %h2 Ajouter Consommable
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#addConso", :role => "tab"} Ajouter Consommable
        %li
          %a{"data-toggle" => "tab", :href => "#searchConso", :role => "tab"} Rechercher Consommable existant
      / Tab panes
      .tab-content
        #addConso.tab-pane.fade.in.active
          = simple_form_for @consommable do |f|
            .CSSTableGenerator
              %table
                %tr
                  %td Code :
                  %td Designation :
                %tr
                  %td
                    .col-md-9{:style => "width: 100%"}
                      .form-group
                        = f.input :code_consommables, label: false ,:input_html => { :size => 40, :maxlength => 10 }
                      / /.col-lg-6
                    / /.row
                  %td
                    .col-md-9{:style => "width: 100%"}
                      .form-group
                        = f.input :designation_consommables, label: false ,:input_html => { :size => 40, :maxlength => 10 }
                      / /.col-lg-6
                    / /.row
              %table
                %tr
                %tr
                  %td
                    .modal-footer{:align => "center"}
                      = f.button :submit, class: "btn btn-primary", :value => 'Valider'
        #searchConso.tab-pane.fade
          .CSSTableGenerator
            %table
              %tr
                %td Code :
                %td
                %td Designation :
                %td
              %tr
                %td
                  .col-md-9{:style => "width: 100%"}
                    .form-group
                      %input#barreRecherche.form-control{:type => "text"}/
                    / /.col-lg-6
                  / /.row
                %td
                  %button.boutton
                    %span.glyphicon.glyphicon-ok
                %td
                  .col-md-9{:style => "width: 100%"}
                    .form-group
                      %input#barreRecherche.form-control{:type => "text"}/
                    / /.col-lg-6
                  / /.row
                %td
                  %button.boutton
                    %span.glyphicon.glyphicon-ok
    / -----------------------------------------  FIN PAGE CONSOMMABLE ------------------------
