%h2{:align => "center"}
  %b
    %u 
      Manage Utilisateur : 
  %br/
  %b   
    Nb utilisateurs : 
    = @users.count
%table{:style => "width: 940px; border:none;"}
  %tr
    %td
      %b Email
    %td
      %b Login
    %td
      %b Prenom
    %td
      %b Nom
    %td
      %b Derniere authentification
    %td
      %b Role
  - @users.each do |user|
    %tr
      %td= link_to user.email , user
      %td= user.login
      %td= user.last_name
      %td= user.first_name
      %td= user.last_sign_in_at
      %td= user.role
