  <h3>Imprimante :  <b> <%= @printer.codePrinters %> </b></h3>
  <h3>Id  :  <b> <%= @printer.id %> </b></h3>

  <p>
   
  </p>


  <!--



  -->



  <!-- Nav tabs -->
  <div class="dropdown">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#descriptImprimante" role="tab" data-toggle="tab">Description Imprimante</a></li>


    
    <% if can? :valide, Incident %>
    <li class ="dropdown">

       <a id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" href="#">Incident 
          <span class="caret"></span></a> 
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          
               <li class=""> 
                 <a href="#incidentTrue" role="tab" data-toggle="tab"> Incident Valider</a>
               </li>
              <li><a href="#incidentFalse" role="tab" data-toggle="tab"> Incident Non Valider </a></li>
          </ul>
    </li>
    <% else %>
    <li><a href="#incidentTrue" role="tab" data-toggle="tab">Incidents</a></li>
    <% end %>
    <li><a href="#consommable" role="tab" data-toggle="tab">Consommables</a></li>
    <li><a href="#compteur" role="tab" data-toggle="tab">Compteurs</a></li>
   
    <li class ="dropdown">

        <% if can? :create, Incident %><a id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" href="#">Ajouter 
          <span class="caret"></span></a> <% end %>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          
               <li class=""> 
                 <a href="#ajouterIncident" role="tab" data-toggle="tab"> Incident</a>
               </li>
              <li><a href="#ajouterConsommable" role="tab" data-toggle="tab"> Consommable </a></li>
          </ul>
          
      
    </li>

  </ul>



  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Onglet DESCRIPTION IMPRIMANTE -->
    <div class="tab-pane  fade in active" id="descriptImprimante" border-radius="10px">

     </br>
      
          <h2><u>Description de l'imprimante : </u></h2> </br>
          <p> <%= @printer.descriptionPrinters %>

         
           

          </p> 
          </br> </br>
         

          </br> </br>
      <!-- <div class="form-group">
          <label for="exampleInputFile">Choisir un fichier :</label>
          <input type="file" id="exampleInputFile">
          
      </div> -->

    </div>
      <!-- Fin de l'onglet -->

  <!-- Onglet INCIDENT -->
  <div class="tab-pane fade" id="incidentTrue">

      
    <h2 align="center">Incidents de l'imprimante :</h2>
  </br>
    
      <table align="center" style="width: 500px; border:none;">
        <thead>
          <tr>
            <td align="center" >
              <b> ID PRINTER </b>
            </td>
            <td align="center">
              <b> ID </b>
            </td>
            <td align="center" >
              <b> CodeIncident </b>
            </td>
            <td align="center" >
              <b> Statut </b>
            </td>
            
          </tr>
        </thead>
        <tbody>
           
           <% @incidents.each do |incident| %>
      <% if incident.valideIncidents == true %>
          <tr>
            <td align="center">
              <%= link_to incident.printer_id, incident%>
            </td>
            <td align="center">
              <%= link_to incident.id, incident%>
            </td>
            <td align="center">
              <%= link_to incident.intituleIncidents, incident%>
            </td>
            <td align="center">
              
              <%= link_to "VALIDER", incident%>
            
            </td>
            
          </tr>
          <%end%>
            
        <% end %>

        </tbody>
       

      </table>





  </div>
  <!-- Fin de l'onglet -->

  <div class="tab-pane fade" id="incidentFalse">

      
    <h2 align="center">Incidents de l'imprimante :</h2>
  </br>
    
      <table align="center" style="width: 500px; border:none;">
        <thead>
          <tr>
            <td align="center" >
              <b> ID PRINTER </b>
            </td>
            <td align="center">
              <b> ID </b>
            </td>
            <td align="center" >
              <b> CodeIncident </b>
            </td>
            <td align="center" >
              <b> Statut </b>
            </td>
            
          </tr>
        </thead>
        <tbody>
           
           <% @incidents.each do |incident| %>
      <% if incident.valideIncidents == false %>
          <tr>
            <td align="center">
              <%= link_to incident.printer_id, incident%>
            </td>
            <td align="center">
              <%= link_to incident.id, incident%>
            </td>
            <td align="center">
              <%= link_to incident.intituleIncidents, incident%>
            </td>
            <td align="center">
              
              <%= link_to "NON Valider", incident%>
            
            </td>
            
          </tr>
          <%end%>
            
        <% end %>

        </tbody>
       

      </table>





  </div>
  <!-- Fin de l'onglet -->


  <!-- Onglet CONSOMMABLE -->
  <div class="tab-pane fade" id="consommable">

  <h2>Consommable de l'imprimante</h2>
     
  <p> Tous les consommables des imprimantes. </p>

 <table align="center" style="width: 500px;">
        <thead>
          <tr>
            <th align="center">
               ID PRINTER 
            </th>
            <th style="vertical-align: center;" >
              CodeConsommable
            </th>
            <th align="center">
              DesignationConsommable
            </th>
          </tr>
        </thead>
        <tbody>
           <% @consommables.each do |consommable| %>
          <tr>
            <td align="center">
              <%= link_to consommable.printer_id, consommable%>
            </td>
            <td align="center">
              <%= link_to  consommable.codeConsommables , consommable%>
            </td>
            <td align="center">
            <% if consommable.designationConsommables.nil? %>
            <%= link_to  consommable.designationConsommables,consommable %>
            <% else %>
              <%= link_to  consommable.designationConsommables,consommable %>
              <% end %>
            </td>
          </tr>
            
        <% end %>

        </tbody>
       

      </table>

    </div>
  <!-- Fin de l'onglet -->


  <!-- Onglet COMPTEUR -->
  <div class="tab-pane fade" id="compteur">



    <h2> Manip Relevé Compteur ?</h2>
     


     <p> Onglet destiné a indiqué la manipulation des relevé compteur ? </p>



  </div>
  <!-- Fin de l'onglet -->



  <!-- Onglet AJOUTERINCIDENT -->
  <div class="tab-pane fade" id="ajouterIncident">

  <h2> AJOUTER INCIDENT</h2>
 <%= simple_form_for @incident do |f| %>
           
           
            
           


  <div class="CSSTableGenerator" >
   <table>
    <tr>
      <td> Code Incident : </td>
      <td> Intitulé Incident :</td>
                           
    </tr>
    <tr>
       <td class ="info">
          <div class="col-md-9" style="width: 100%">
              <div class="form-group">
              <%= f.input :codeIncidents ,label: false,:input_html => { :size => 40, :maxlength => 10 } %>
             </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->

        </td> 

        <td>
          <div class="col-md-9"  style="width: 100%">
            <div class="form-group">
             <%= f.input :intituleIncidents ,label: false, :input_html => { :size => 40, :maxlength => 10 } %>       
            </div><!-- /.col-lg-6 -->
         </div><!-- /.row -->
        </td>
   </tr>
  </table>


  <table>
    <tr>
      <td> Description : </td>
      <td> Solution :</td>
                           
    </tr>
    <tr>
         <td>
          <%= f.text_area :descriptionIncidents , :cols => 70, :rows => 4 %>

        </td> 

        <td>
         <%= f.text_area :solutionIncidents , :cols => 70, :rows => 4 %>
            
        </td>
   </tr>

  </table>
  <%= f.hidden_field :printer_id, :value => @printer.id %>     
  <%= f.hidden_field :valideIncidents, :value => true %> 
<table >
 <tr> </tr>
 <tr>
        <td>

        <div class="modal-footer" align="center">
        
                    <%= f.button :submit, class: "btn btn-primary", :value => 'Valider'%>
                    </button>
               </div></td>
        
      
         
   </tr>
</table>
</div>
 <% end %>
<!--  ------------------------- Fin div css GENERATOR ------------------------- -->




</div>
<!-- Fin de l'onglet AJOUTERINCIDENT -->
   


            <!-- ---------------------- PAGE CONSOMMABLE     ----------------------   -->
<div class="tab-pane fade" id="ajouterConsommable">

  <h2>Ajouter Consommable</h2>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#addConso" role="tab" data-toggle="tab">Ajouter Consommable</a></li>
      <li><a href="#searchConso" role="tab" data-toggle="tab">Rechercher Consommable existant</a></li>
    
  </ul>

<!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="addConso">

      <%= simple_form_for @consommable do |f| %>
      <div class="CSSTableGenerator" >
         <table>
           <tr>
            <td> Code : </td>
            <td> Designation :</td>
           </tr>
 
           <tr>
             <td>
               <div class="col-md-9" style="width: 100%">
               <div class="form-group">
                    <%= f.input :codeConsommables, label: false ,:input_html => { :size => 40, :maxlength => 10 } %>
               </div><!-- /.col-lg-6 -->
               </div><!-- /.row -->
             </td> 
        
             <td>
                <div class="col-md-9" style="width: 100%">
                  <div class="form-group">
                      <%= f.input :designationConsommables, label: false ,:input_html => { :size => 40, :maxlength => 10 } %>
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
             </td>
          </tr>
        </table>
<%= f.hidden_field :printer_id, :value => @printer.id %> 
<%= f.hidden_field :consommable_id, :value => @consommable.id %> 

        <table>
         <tr> </tr>
         <tr>
          <td>
            <div class="modal-footer" align="center">        
                 <%= f.button :submit, class: "btn btn-primary", :value => 'Valider'%> 
            </div>
          </td>
         </tr>
        </table>
      </div>

     <% end %>
     
    </div>

    <div class="tab-pane fade" id="searchConso">
      <div class="CSSTableGenerator" >
        <table>
          <tr>
            <td> Code : </td>
            <td></td>
            <td> Designation :</td>
            <td> </td>    
          </tr>
          <tr>
            <td>
              <div class="col-md-9" style="width: 100%">
                  <div class="form-group">
                     <input type="text" class="form-control" id="barreRecherche">
                 </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </td> 
            <td>
              <button class="boutton"> <span class="glyphicon glyphicon-ok"></span></button>

            </td>

            <td>
              <div class="col-md-9" style="width: 100%">
                <div class="form-group">
                 <input type="text" class="form-control" id="barreRecherche">
                </div><!-- /.col-lg-6 -->
             </div><!-- /.row -->
            </td> 

            <td>
              <button class="boutton"> <span class="glyphicon glyphicon-ok"></span></button>
            </td>
          </tr>

        </table>

 


      </div>
     </div>
    </div>
  </div>
   <!-------------------------------------------  FIN PAGE CONSOMMABLE -------------------------->

  </div>