!!!
%html
  %head
    %title= @titre
    = csrf_meta_tag
    / = tinymce_assets
    = render 'layouts/stylesheets'
    
  %body{:position => "relative", :style => "height:10px;width:100%;"}
    .container{ :style => "width:1050px;"}
      = render 'layouts/header'
      
      %section.round
        
        - if notice
          %p.alert.alert-success= notice
        - if alert
          %p.alert.alert-danger= alert
        / <p style="color: green"> </p>
        = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?

      / = tinymce 